src/**
test/**
out/test/**
tsconfig.json
**/*.map
node_modules/katex/src/**
node_modules/katex/contrib/**
node_modules/katex/cli.js
node_modules/katex/dist/contrib/**
node_modules/katex/dist/**/*.mjs
node_modules/katex/dist/katex.min.js
node_modules/katex/dist/katex.css
node_modules/katex/dist/fonts/*.ttf
node_modules/katex/dist/fonts/*.woff
.impeccable/**
